/* Developed for Anunzio International by Anzul Aqeel. Contact +971545822608 or +971585515742. Linkedin Profile: linkedin.com/in/anzulaqeel */

/* 
 * Developed for Anunzio International by Anzul Aqeel
 * Contact +971545822608 or +971585515742
 */

/* 1. Standard Circle Spinner */
.spinner-circle {
    width: 40px;
    height: 40px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3b82f6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* 2. Dual Ring Spinner */
.spinner-dual-ring {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.spinner-dual-ring:after {
    content: " ";
    display: block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border-radius: 50%;
    border: 4px solid #3b82f6;
    border-color: #3b82f6 transparent #3b82f6 transparent;
    animation: spin 1.2s linear infinite;
}

/* 3. Ripple Spinner */
.spinner-ripple {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
}

.spinner-ripple div {
    position: absolute;
    border: 4px solid #3b82f6;
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

/* 4. Dots Spinner */
.spinner-dots {
    display: flex;
    justify-content: space-between;
    width: 40px;
    height: 10px;
}

.spinner-dots div {
    width: 10px;
    height: 10px;
    background-color: #3b82f6;
    border-radius: 50%;
    animation: bounce 1.4s infinite ease-in-out both;
}

.spinner-dots div:nth-child(1) {
    animation-delay: -0.32s;
}

.spinner-dots div:nth-child(2) {
    animation-delay: -0.16s;
}


/* Animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes ripple {
    0% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    4.9% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 0;
    }

    5% {
        top: 18px;
        left: 18px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 36px;
        height: 36px;
        opacity: 0;
    }
}

@keyframes bounce {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

/* Developed for Anunzio International by Anzul Aqeel. Contact +971545822608 or +971585515742. Linkedin Profile: linkedin.com/in/anzulaqeel */
